WP_CLIENT_TOKEN=wptc1.xxx.xxx.xxx
ROUTE_SECRET=3915736254b9b373
DEMO_EMAIL=demo@wptsall.dev
DEMO_PASSWORD=Journey-Demo-Password-2026!
MOCK_API_KEY=mock-translate-dev-key-2026
CLIENT_BASE=http://127.0.0.1:8977
MOCK_API_BASE=http://127.0.0.1:9090
WPTSALL_WEB_BASE=https://www.wpmm.cc
WP_BASE=https://blog.wpmm.cc
